<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :content %>
    <%= f.association :active_workflow_step %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
