<%- model_class = ActiveWorkflowStep -%>
<div class="page-header">
  <h1><%=t '.title', :default => ActiveWorkflowStep %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @active_workflow_steps.each do |active_workflow_step| %>
      <tr>
        <td><%= active_workflow_step.id %></td>
        <td><%= active_workflow_step.number %></td>
        <td><%=l active_workflow_step.created_at, format: :long %></td>
        <td>
          <%= link_to active_workflow_step_path(active_workflow_step), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to active_workflow_step_path(active_workflow_step), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_active_workflow_step_path,
            :class => 'btn btn-primary' %>
