<h1>Listing active_workflows</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @active_workflows.each do |active_workflow| %>
      <tr>
        <td><%= active_workflow.name %></td>
        <td><%= link_to 'Show', active_workflow %></td>
        <td><%= link_to 'Edit', edit_active_workflow_path(active_workflow) %></td>
        <td><%= link_to 'Destroy', active_workflow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Active workflow', new_active_workflow_path %>
